{% extends "base.html" %}

{% block content %}
<h2>Мои оценки</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Курс</th>
                <th>Оценка</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for grade in grades %}
            <tr>
                <td>{{ grade.course.name }}</td>
                <td>{{ grade.grade }}</td>
                <td>{{ grade.date.strftime('%Y-%m-%d') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}